/*Layout Principal*/
.page-container {
    display: grid;
    grid-template-columns: 250px 1fr; 
    min-height: 100vh; 
    font-family: Arial, sans-serif;
}

/* Sidebar  */
.sidebar {
    background-color: #02221c; 
    color: white;
    padding: 20px;
    padding-top: 70px;
}

.sidebar .logo {
    text-align: center; 
    margin-bottom: 40px; 
}
.sidebar .logo-img {
    max-width: 1000%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}
.sidebar .logo h2, .sidebar .logo p {
    margin: 0;
    font-size: 1.1em;
}

.sidebar nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 30px 0; 
    border-top: 1px solid rgba(255, 255, 255, 0.1); 
    transition: background-color 0.5s;
}

.sidebar nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/*Conteúdo Principal e Header Top */
.main-content {
    grid-column: 2; 
    padding: 40px;
}

.header-top {
    display: flex;
    justify-content: flex-end; 
    border-bottom: 1px solid #ccc; 
    padding-bottom: 30px;
    margin-bottom: 20px;
}
.header-top a {
    margin-left: 30px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.header-top a:hover {
    color: #022720d8;
}

/*Seção dos 4 Vídeos */
.artigos-pastor { 
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 30px; 
    padding-top: 40px;
}
.artigos-pastor p {
    color: #333; 
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}