.page-container {
  padding: 40px;
  max-width: 850px;
  margin-left: 330px;
  font-family: "Segoe UI", Arial, sans-serif;
  color: #0a1c14; 
}

.page-title {
  font-size: 36px;
  margin-bottom: 20px;
  color: #0a1c14;
  font-weight: 700;
}

.intro-text {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 35px;
  color: #333;
}