.page-container {
    display: grid;
    grid-template-columns: 250px 1fr; 
    min-height: 100vh; 
    font-family: Arial, sans-serif;
}
/* ============================================
   COMPONENTE: Layout Principal / Main Content
   ============================================ */
.main-content {
    grid-column: 2; 
    padding: 40px;
}

/* ================================
   COMPONENTE: Header Top
   ================================ */
.header-top {
    display: flex;
    justify-content: flex-end; 
    border-bottom: 1px solid #ccc; 
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.header-top a {
    margin-left: 30px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.header-top a:hover {
    color: #022720d8;
}