/* .page-container {
    display: grid;
    grid-template-columns: 250px 1fr; 
    min-height: 100vh; 
    font-family: Arial, sans-serif;
}
.sidebar {
    background-color: #02221c; 
    color: white;
    padding: 20px;
    padding-top: 70px;
}


.sidebar .logo {
    text-align: center; 
    margin-bottom: 40px; 
}

.sidebar .logo-img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

.sidebar .logo h2, 
.sidebar .logo p {
    margin: 0;
    font-size: 1.1em;
}

.sidebar nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 30px 0; 
    border-top: 1px solid rgba(255, 255, 255, 0.1); 
    transition: background-color 0.5s;
}

.sidebar nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
 */
